*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
.box{
    width: 100%;
}
.vishu {
    font-size: 30px;
     color: aqua;
     padding: 20px;
}
a{
    font-size: 30px;
    color: white;
    margin-left: 10px;
    margin-top: -30px;
}
.box1{
    color: #fff;
    margin-left: 25%;
    font-size: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.box2{
    color: rgba(211, 211, 211, 0.475);
    font-size: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}
.box2:hover{
    color: #fff;
}
.box3{
    float: right;
    color: lightgray;
    padding: 34px 10px;
}
h2{
    text-align: center !important;
    font-size: 38px;
    font-weight: 700;
    margin: 0px 0px 10px 0px;
}
.vishu1 p{
    color: rgba(211, 211, 211, 0.475);
    text-align: center !important;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.vishu1{
 width: 600px;
 margin-left: 475px;
 box-sizing: border-box;
 margin-top: 50px;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 180px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .button1 {
    margin-bottom: 100px;
    background-color: #4CAF50;
} 
img{    
    width: 100%;
    border-radius: 10px;
}
.pic{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 20px;
   box-sizing: border-box;
}
@media (max-width: 1040px) {
    .box1{
      display: none;
    }
    .box2{
        display: none;
    }
    .pic{
        grid-template-columns: repeat(3,1fr);
    }
    .vishu1{
     margin-left: 25%;
    }
}
@media (max-width: 768px) {

    .pic{
        grid-template-columns: repeat(2,1fr);
    }
    .vishu1{
        width: 700px;
        margin-left: 5%;
       }
       h2{
        font-size: 35px;
       }
       .button{
        margin: 0px 235px;
        margin-bottom: 100px;
       }
}
@media (max-width: 320px) {
    .pic{
        grid-template-columns: repeat(1,1fr);
        width: 223%;
    }
}